body{
  margin:0;
  font-family:Arial;
  background:#fafafa;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  padding:10px 15px;
  background:white;
  border-bottom:1px solid #ddd;
}

/* PROFILE */
.profile{
  text-align:center;
  padding:10px;
  background:white;
}

.dp{
  width:60px;
  height:60px;
  background:#3897f0;
  color:white;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
  font-size:20px;
}

/* STORIES */
.stories{
  display:flex;
  gap:10px;
  padding:10px;
  overflow-x:auto;
  background:white;
}

.story{
  width:50px;
  height:50px;
  background:linear-gradient(red,orange,pink);
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-weight:bold;
}

/* POST BOX */
.post-box{
  display:flex;
  flex-direction:column;
  gap:8px;
  padding:10px;
  background:white;
  margin:10px;
  border-radius:10px;
}

input{
  padding:8px;
  border:1px solid #ddd;
  border-radius:5px;
}

button{
  padding:8px;
  border:none;
  background:#3897f0;
  color:white;
  border-radius:5px;
}

/* POST */
.post{
  background:white;
  margin:10px;
  padding:10px;
  border-radius:10px;
}

.post img{
  width:100%;
  border-radius:10px;
}

/* DARK MODE */
.dark{
  background:#111;
  color:white;
}